<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <h1>Sign up page</h1>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="name" class="form-label">Name:</label>
                    <input name="name" [(ngModel)]="name" type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="adhar" class="form-label">Adhar number:</label>
                    <input name="adhar" [(ngModel)]="adhar" type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="address" class="form-label">Address:</label>
                    <textarea name="address" [(ngModel)]="address" class="form-control"  rows="3"></textarea>                       
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="pincode" class="form-label">Pin code:</label>
                    <input name="pincode" [ngModel]="pincode" type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="dob" class="form-label">Datet of birth:</label>
                    <input name="dob" [(ngModel)]="dob" type="date" class="form-control">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="email" class="form-label">e-mail:</label>
                    <input name="email" [(ngModel)]="email" type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="phonenumber" class="form-label">Phone number:</label>
                    <input name="phonenumber" [(ngModel)]="phonenumber" type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="username" class="form-label">User Name:</label>
                    <input name="username" [(ngModel)]="username" type="text" class="form-control">                        
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="password1" class="form-label">Password</label>
                    <input name="password1" [(ngModel)]="password1" type="password" class="form-control">
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="password2" class="form-label">Confirm Password</label>
                    <input name="password2" [(ngModel)]="password2" type="password" class="form-control">
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <a (click)="signup()" class="btn btn-success">sign up</a>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <a href="\user" class="link-primary">login here !</a>
                </div>
            </div>
        </div>
    </div>
  </div>
