<app-admin-navbar></app-admin-navbar>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <h3>Book entry portal </h3>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="title" class="form-label">Book title</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="author" class="form-label">Author</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="description" class="form-label">description</label>
                    <textarea class="form-control"  rows="3"></textarea>                    </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="publisher" class="form-label">Publisher</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="language" class="form-label">Language</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="distributer" class="form-label">distributer</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="releasedyear" class="form-label">Released Year</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="price" class="form-label">price</label>
                    <input type="text" class="form-control">                        
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="image" class="form-label">image upload </label>
                    <input type="file" class="form-control">
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <a href="" class="btn btn-warning">Add book</a>
                </div>
            </div>
        </div>
    </div>
  </div>
