<app-user-navbar></app-user-navbar>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="200px" src="https://m.media-amazon.com/images/I/41fRojGGDUL.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Randam oozham </h5>
                            <p class="card-text">masterpiece of Jnanpith winning writer MT Vasudevan Nair. It was
                                translated into English as Second Turn in 1997</p>
                        </div>
                    </div>
                </div>
                <div  class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div  class="card" style="width: 18rem;">
                        <img height="200px" src="https://rukminim1.flixcart.com/image/416/416/book/8/4/1/ponniyin-selvan-part-ii-original-imadeuhn6wa96dnw.jpeg?q=70" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Ponniyin selvan </h5>
                            <p  class="card-text">The Story Is About The Historical Events, Queer Personalities And The Ruler Of Chola Dynasty Of Tamilnadu In 10th Century A.d</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="200px" src="https://d3i5mgdwi2ze58.cloudfront.net/7hqv6ddaqv363p4hadx6lymotow1" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">In Search of Lost Time </h5>
                            <p class="card-text">Swann's Way, the first part of A la recherche de temps perdu, Marcel Proust's seven-part cycle, was published in 1913. </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="200px" src="https://d3i5mgdwi2ze58.cloudfront.net/f7nkbyqfsnrrlct3hs01jkrz2vdi" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Ulysses</h5>
                            <p class="card-text">Ulysses chronicles the passage of Leopold Bloom through Dublin during an ordinary day, June 16, 1904
                                bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="200px" src="https://d3i5mgdwi2ze58.cloudfront.net/bn8dmzg3y0fcofvl6azmbyl6bry4" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Don Quixote </h5>
                            <p class="card-text">Alonso Quixano, a retired country gentleman in his fifties, lives in an unnamed section of La Mancha with his niece and a housekeeper. </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="200px" src="https://d3i5mgdwi2ze58.cloudfront.net/evtw45j15ooutm5tnz3ev1r9lk0e" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">One Hundred Years of Solitude</h5>
                            <p class="card-text">One of the 20th century's enduring works, One Hundred Years of Solitude is a widely beloved </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="200px" src="https://d3i5mgdwi2ze58.cloudfront.net/m8sdet02cc7mdl8l6jow8cpl7co2" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">The Great Gatsby</h5>
                            <p class="card-text">The novel chronicles an era that Fitzgerald himself dubbed the "Jazz Age". Following the shock and chaos of World War I</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="200px" src="https://d3i5mgdwi2ze58.cloudfront.net/epke1jolmtb858vv9ctbtxpa8yi6" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Moby Dick </h5>
                            <p class="card-text">First published in 1851, Melville's masterpiece is, in Elizabeth Hardwick's words, "the greatest novel in American literature.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="200px" src="https://d3i5mgdwi2ze58.cloudfront.net/hwi2qqngyicqz7s7ps4x4k1ei14k" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">War and Peace</h5>
                            <p class="card-text">

                                Epic in scale, War and Peace delineates in graphic detail events leading up to Napoleon's invasion of Russia</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="200px" src="https://d3i5mgdwi2ze58.cloudfront.net/94t9qfwmt3s3tbw24xhjquc1c7l5" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Hamlet </h5>
                            <p class="card-text">The Tragedy of Hamlet, Prince of Denmark, or more simply Hamlet, is a tragedy by William Shakespeare, believed to have been written </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
